.Filter {
}

.Filter-Body {
  margin-bottom: 72px;
}

.Filter-Top {
  height: 62px;
  background-color: #ffffff;
}

.Filter-Bottom {
  display: none;
  padding-top: 16px;
  background-color: #e6e6e6;
}

.Filter-Bottom .Button {
  margin-left: auto;
  margin-bottom: 17px;
}

.Filter-Bottom_show {
  display: flex;
  align-items: center;
}

.Filter-TagList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.Filter-Tag {
  display: flex;
  margin-right: 20px;
  border-radius: 3px;
  background-color: #ffffff;
  color: #999999;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.Filter-TagBody {
  padding: 10px 9px 8px 9px;
}

.Filter-TagClose {
  cursor: pointer;
  width: 29px;
  border-left: solid 1px #e6e6e6;
  background: url("./img/close@2x.png") no-repeat center;
  background-size: 10px 10px;
  transition: .3s;

  &:hover {
    opacity: .7;
  }
}


@media screen and (max-width: 767px) {
  .Filter-Top > .Container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 999px) {
} @media screen and (min-width: 1000px) and (max-width: 1279px) {
} @media screen and (min-width: 1280px) {
}
